In [2]:
import pandas as pd

In [3]:
import matplotlib.pyplot as plt

In [4]:
import seaborn as sns

In [5]:
import numpy as np

In [6]:
df=pd.read_csv("seattle-weather.csv")
df

            date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
2     2012-01-03            0.8      11.7       7.2   2.3     rain
3     2012-01-04           20.3      12.2       5.6   4.7     rain
4     2012-01-05            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  2015-12-27            8.6       4.4       1.7   2.9     rain
1457  2015-12-28            1.5       5.0       1.7   1.3     rain
1458  2015-12-29            0.0       7.2       0.6   2.6      fog
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461 entries, 0 to 1460
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           1461 non-null   object
 1   precipitation  1461 non-null   float64
 2   temp_max       1461 non-null   float64
 3   temp_min       1461 non-null   float64
 4   wind           1461 non-null   float64
 5   weather        1461 non-null   object
dtypes: float64(4), object(2)
memory usage: 68.6+ KB

In [8]:
df.isnull().sum()

date             0
precipitation    0
temp_max         0
temp_min         0
wind             0
weather          0
dtype: int64

In [9]:
df.head()

         date  precipitation  temp_max  temp_min  wind  weather
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle
1  2012-01-02           10.9      10.6       2.8   4.5     rain
2  2012-01-03            0.8      11.7       7.2   2.3     rain
3  2012-01-04           20.3      12.2       5.6   4.7     rain
4  2012-01-05            1.3       8.9       2.8   6.1     rain

In [10]:
df.tail()

            date  precipitation  temp_max  temp_min  wind weather
1456  2015-12-27            8.6       4.4       1.7   2.9    rain
1457  2015-12-28            1.5       5.0       1.7   1.3    rain
1458  2015-12-29            0.0       7.2       0.6   2.6     fog
1459  2015-12-30            0.0       5.6      -1.0   3.4     sun
1460  2015-12-31            0.0       5.6      -2.1   3.5     sun

In [11]:
df.duplicated().sum()

np.int64(0)

In [12]:
df.drop(['date'],axis=1,inplace=True)
df

      precipitation  temp_max  temp_min  wind  weather
0               0.0      12.8       5.0   4.7  drizzle
1              10.9      10.6       2.8   4.5     rain
2               0.8      11.7       7.2   2.3     rain
3              20.3      12.2       5.6   4.7     rain
4               1.3       8.9       2.8   6.1     rain
...             ...       ...       ...   ...      ...
1456            8.6       4.4       1.7   2.9     rain
1457            1.5       5.0       1.7   1.3     rain
1458            0.0       7.2       0.6   2.6      fog
1459            0.0       5.6      -1.0   3.4      sun
1460            0.0       5.6      -2.1   3.5      sun

[1461 rows x 5 columns]

In [13]:
x=df.iloc[:,:-1].values
y=df.iloc[:,-1].values

In [14]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [15]:
x_test

array([[ 0. , 23.9, 11.1,  2.7],
       [ 5.8,  7.8,  6.1,  0.5],
       [ 0. ,  9.4,  4.4,  3.4],
       ...,
       [ 0. , 14.4,  8.9,  4.3],
       [ 4.3, 15. ,  9.4,  4.3],
       [ 0. , 24.4,  9.4,  4.1]])

In [16]:
y_train

array(['rain', 'rain', 'sun', ..., 'rain', 'sun', 'fog'], dtype=object)

In [17]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(x_train)
x_train=scaler.transform(x_train)
x_test=scaler.transform(x_test)

In [18]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=7)
knn.fit(x_train,y_train)
y_pred=knn.predict(x_test)
y_pred

array(['sun', 'rain', 'rain', 'sun', 'rain', 'rain', 'sun', 'sun', 'rain',
       'sun', 'sun', 'sun', 'rain', 'sun', 'rain', 'rain', 'sun', 'rain',
       'sun', 'sun', 'rain', 'sun', 'fog', 'sun', 'sun', 'rain', 'rain',
       'sun', 'sun', 'sun', 'rain', 'sun', 'sun', 'rain', 'fog', 'rain',
       'rain', 'rain', 'sun', 'sun', 'rain', 'sun', 'sun', 'sun', 'rain',
       'rain', 'rain', 'rain', 'sun', 'sun', 'sun', 'rain', 'sun', 'rain',
       'sun', 'rain', 'rain', 'sun', 'rain', 'sun', 'rain', 'sun', 'fog',
       'sun', 'sun', 'sun', 'rain', 'sun', 'rain', 'rain', 'rain', 'sun',
       'sun', 'fog', 'sun', 'rain', 'sun', 'drizzle', 'rain', 'rain',
       'rain', 'rain', 'rain', 'fog', 'rain', 'sun', 'sun', 'rain', 'sun',
       'rain', 'rain', 'sun', 'sun', 'rain', 'sun', 'sun', 'rain', 'sun',
       'sun', 'rain', 'sun', 'sun', 'rain', 'snow', 'rain', 'sun', 'sun',
       'rain', 'sun', 'sun', 'rain', 'rain', 'rain', 'rain', 'sun', 'sun',
       'sun', 'rain', 'sun', 'rain', 'rain', 'sun', 'rain', 'rain',
       'rain', 'sun', 'rain', 'rain', 'sun', 'sun', 'sun', 'sun', 'sun',
       'sun', 'sun', 'sun', 'rain', 'rain', 'rain', 'sun', 'sun', 'sun',
       'rain', 'rain', 'rain', 'rain', 'sun', 'rain', 'sun', 'sun', 'sun',
       'sun', 'sun', 'sun', 'rain', 'rain', 'sun', 'sun', 'sun', 'rain',
       'fog', 'sun', 'rain', 'sun', 'sun', 'rain', 'rain', 'sun', 'rain',
       'sun', 'rain', 'rain', 'sun', 'sun', 'rain', 'rain', 'sun', 'sun',
       'sun', 'sun', 'sun', 'rain', 'sun', 'rain', 'rain', 'rain', 'rain',
       'rain', 'sun', 'sun', 'sun', 'sun', 'sun', 'rain', 'sun', 'sun',
       'rain', 'rain', 'sun', 'rain', 'sun', 'sun', 'drizzle', 'rain',
       'sun', 'rain', 'rain', 'sun', 'rain', 'sun', 'rain', 'rain', 'sun',
       'sun', 'sun', 'sun', 'sun', 'sun', 'rain', 'sun', 'rain', 'sun',
       'sun', 'sun', 'sun', 'rain', 'sun', 'rain', 'sun', 'rain', 'sun',
       'rain', 'sun', 'sun', 'sun', 'sun', 'sun', 'rain', 'sun', 'sun',
       'rain', 'rain', 'sun', 'rain', 'sun', 'sun', 'sun', 'sun', 'rain',
       'rain', 'rain', 'rain', 'rain', 'sun', 'sun', 'sun', 'rain', 'sun',
       'rain', 'rain', 'rain', 'rain', 'sun', 'sun', 'sun', 'sun', 'rain',
       'sun', 'sun', 'sun', 'sun', 'sun', 'sun', 'rain', 'sun', 'sun',
       'rain', 'rain', 'sun', 'sun', 'sun', 'rain', 'sun', 'rain', 'sun',
       'sun', 'rain', 'sun', 'sun', 'rain', 'sun', 'rain', 'sun', 'sun',
       'rain', 'rain', 'rain', 'rain', 'rain', 'sun', 'rain', 'rain',
       'rain', 'rain', 'rain', 'rain', 'rain', 'sun', 'sun', 'sun',
       'rain', 'rain', 'rain', 'sun', 'rain', 'sun', 'sun', 'rain', 'sun',
       'rain', 'rain', 'rain', 'rain', 'rain', 'sun', 'rain', 'drizzle',
       'sun', 'sun', 'rain', 'sun', 'sun', 'rain', 'rain', 'sun', 'sun',
       'sun', 'rain', 'rain', 'rain', 'rain', 'sun', 'sun', 'rain',
       'rain', 'rain', 'sun', 'sun', 'rain', 'rain', 'sun', 'sun', 'sun',
       'rain', 'rain', 'rain', 'sun', 'sun', 'sun', 'sun', 'sun', 'sun',
       'sun', 'rain', 'rain', 'rain', 'rain', 'sun', 'sun', 'sun', 'rain',
       'rain', 'rain', 'sun', 'rain', 'sun', 'rain', 'rain', 'rain',
       'sun', 'sun', 'fog', 'sun', 'sun', 'rain', 'rain', 'sun', 'sun',
       'sun', 'rain', 'rain', 'sun', 'sun', 'sun', 'rain', 'sun', 'sun',
       'rain', 'sun', 'sun', 'rain', 'sun', 'sun', 'fog', 'sun', 'rain',
       'sun', 'sun', 'rain', 'sun', 'sun', 'sun', 'sun', 'sun', 'sun',
       'rain', 'rain', 'rain', 'rain', 'sun', 'rain', 'sun', 'fog', 'sun',
       'sun', 'rain', 'rain', 'sun', 'rain', 'sun', 'rain', 'rain', 'sun',
       'sun', 'rain', 'rain', 'rain', 'rain', 'sun'], dtype=object)

In [21]:
knn.predict([[6,148,72,35,]])

array(['sun'], dtype=object)

In [22]:
from sklearn.metrics import accuracy_score

In [23]:
acc=accuracy_score(y_test,y_pred)
acc

0.7312072892938497